{
  "plugins": ["prettier-plugin-solidity"],
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 2,
        "printWidth": 100
      }
    }
  ]
}
